body {
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: flex;
}
nav a {
    margin: 8px;
    padding: 1em;

    text-decoration: none;

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 6px 12px rgba(0, 0, 0, 0.06);
}
nav a:hover {
    background-color: rgb(226, 226, 226);
}

#sketch-info {
    display: flex;
    flex-direction: column;

    padding: 1em;
    margin: 8px;

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.16),
        0 4px 8px rgba(0, 0, 0, 0.14),
        0 6px 12px rgba(0, 0, 0, 0.12),
        0 8px 16px rgba(0, 0, 0, 0.10);
}

#coords {
    white-space: pre;    
}

canvas {
    display: block;

    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.16),
        0 4px 8px rgba(0, 0, 0, 0.14),
        0 6px 12px rgba(0, 0, 0, 0.12),
        0 8px 16px rgba(0, 0, 0, 0.10);
}

