body {
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: flex;
}
nav a {
    margin: 8px;
    padding: 1em;

    text-decoration: none;

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 6px 12px rgba(0, 0, 0, 0.06);
}
nav a:hover {
    background-color: rgb(226, 226, 226);
}

#sketch-info {
    display: flex;
    flex-direction: column;

    padding: 1em;
    margin: 8px;

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.16),
        0 4px 8px rgba(0, 0, 0, 0.14),
        0 6px 12px rgba(0, 0, 0, 0.12),
        0 8px 16px rgba(0, 0, 0, 0.10);
}
#coords {
    white-space: pre;    
}


button { 
    display: block;
    margin: auto;

    padding: 1em;
    border: none;

    background-color: white;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 6px 12px rgba(0, 0, 0, 0.06);
    
    text-decoration: none;
}

button:active {
    background-color: rgb(226, 226, 226);
}

canvas {
    display: block;
    margin: 16px auto;

    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.16),
        0 4px 8px rgba(0, 0, 0, 0.14),
        0 6px 12px rgba(0, 0, 0, 0.12),
        0 8px 16px rgba(0, 0, 0, 0.10);
}

table.data-table {
    border-collapse: collapse;
    margin: 16px auto;
}
table.data-table tr td,
table.data-table tr th {
    padding: 8px;
}
table.data-table tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}
table.data-table thead tr th {
    border-bottom: 2px solid black;
}

#data-citation-container {
    display: block;
    width: 100%;
    margin: 32px auto;
    text-align: center;
}

